# Front LiDAR (S/N: 8A3BE18BC7E49CCDA3EB9AF41EE64C73)
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{serial}=="5af1a5faeb0aee1192924302f59e3369", MODE:="0777", SYMLINK+="rplidar_front"

# Back LiDAR (S/N: AC8EE18BC7E49CCDA3EB9AF438534C73)
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{serial}=="645a91b72a0bee11b9c13e02f59e3369", MODE:="0777", SYMLINK+="rplidar_back"